.department{
    background-color: white;
  }
  .department table {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
      margin-top: 10px;
      /* border: none; */
    }
    
    .department td, .department th {
      padding: 15px;
    }
    .department th{
      background-color: yellow;
    }
    .department tr{
      border: 1px solid #ddd;
      /* text-align: center; */
    }
    .department td{
      text-align: center;
    }
    
    /* .department tr:nth-child(even){background-color: #f2f2f2;} */
    
    .department tr:hover {background-color: #ddd;}
    
    .department th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      /* background-color: #04AA6D; */
      color: black;
    }
    .employee{
      /* border: 2px solid pink; */
    }
  
    .btnblue{
       border: none;
       background-color: #556ee6;
       margin: 2px;
       font-size: 15px;
       border-radius: 10px;
       padding: 10px;
    }
    .btnadd{
       border: none;
       background-color: #556ee6;
       margin: 2px;
       font-size: 15px;
       border-radius: 10px;
       padding: 10px;
    }
    .btnadd:hover{
      background-color: #4458b8;
      color: white;
    }
    .btnblue:hover{
      background-color: #4458b8;
      color: white;
    }
    .pages{
      /* border: 2px solid red; */
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ddd;
      padding: 10px;
    }