.employee{
  background-color: white;
}
.employee table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    
  }
  
  .employee td, .employee th {
    padding: 8px;
  }
  .employee th{
    background-color: #556ee6;
  }
  .employee tr{
    border: 1px solid #ddd;
   
  }
  .employee td{
    text-align: center;
  }
  

  
  .employee tr:hover {background-color: #ddd;}
  
  .employee th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    
    color: black;
  }

  .btnblue{
     border: none;
     background-color: #556ee6;
     margin: 2px;
     font-size: 15px;
     border-radius: 10px;
     padding: 10px;
  }
  .btnad{
     border: none;
     background-color: #556ee6;
     margin: 2px;
     font-size: 15px;
     border-radius: 10px;
     padding: 10px;
  }
  .btnad:hover{
    background-color: #4458b8;
    color: white;
  }
  .btnblue:hover{
    background-color: #4458b8;
    color: white;
  }
  .pages{
  
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    padding: 10px;
  }
  .h{
    color: red;
  }