* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #222222; */
}
.main{
  flex: 1;
}
.main-container {
  display: flex;
  /* position: relative; */
  /* border: 2px solid green; */
}
main {
  padding: 10px;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  /* background: #2a3042; */
  background: #000080;
  /* background: #0; */
  color: white;
  height: 100%;
  /* border: 2px solid red; */
  /* display: flex; */
  /* flex-direction: column; */
  /* overflow-y: auto;  */
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  height: 80px;
}
.logo {
  height: 50px;
  width: 100px !important;
}
.bars {
  width: 30px;
  /* height: 50px; */
}
.hide {
  display: none;
}

.routes {
  /* margin-top: 15px; */
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 5px;
}
.link {
  display: flex;
  color: white;
  gap: 10px;
  padding: 18px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  /* border-right: 4px solid white; */
  background: #556ee6;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.menu:hover{
  /* border-right: 4px solid white; */
  background: #556ee6;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.check{
  display: none;
  /* display: flex; */
  background-color: #000080;
  position: absolute;
  margin-left: 35px;
}
.lin {
  display: flex;
  color: white;
  width: 100%;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.lin:hover .link_text{
  color: white;
  /* background: rgb(45, 51, 89); */
  /* transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045); */
}

.menu:hover .check{
  display: flex;
 
}
.icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.link_text1{
    color: white;
    /* padding-top: 4px; */
    display: inline-flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.arrow{
  margin-top: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
/* .active {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
} */
.link_text {
  white-space: nowrap;
  font-size: 15px;
}

.menu {
  display: flex;
  color: white;
  position: relative;
  padding: 18px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  /* position: relative; */
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  /* border-bottom: #fff 0.5px solid; */
}
